* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  padding-bottom: 3%;
  margin-bottom: 3%;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

body {
  /* background-color: #d3d3d3; */
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://www.mashed.com/img/gallery/grocery-stores-youll-wish-you-knew-about-sooner/intro-1694309137.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
 
}

.title {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  color: #f1f1f1;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.search-box {
  border: solid black 1px;
  border-radius: 12px;
  padding: 10px;
}

.search-bar {
  font-size: 25px;
  outline: none;
  border: none;
}

.add-item-btn {
  border: none;
  background-color: white;
  height: 20px;
  margin-top: 6px;
}

.add-item-btn:hover {
  border: none;
  background-color: #d3d3d3;
  border-radius: 20px;
}

.ion-size-search {
  font-size: 20px;
}

.item-list {
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.item-breakdown {
  display: flex;
  justify-content: space-around;
  width: 700px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.items-left {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.items-purchased {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.name-placeholder {
  display: flex;
  justify-content: space-around;
}

.name-list {
  line-height: 80px;
  width: 700px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}

.name-items {
  line-height: 65px;
  width: 700px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.full-item-list {
  text-align: center;
  font-size: 25px;
}

.fList-strike {
  text-align: center;
  font-size: 25px;
}

#items-left-id {
  text-align: center;
}

#items-remaining-id {
  text-align: center;
}
